.App {
  text-align: center;
}

body {
  background-color:rgba(16, 170, 170, 0.271);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
}

.Header {
  font-size: 25px;
  text-align: center;
}

.NavBar {
  display: "inline-block";
  text-align: "center";
  border-radius: "30px";
  margin-bottom: "10px";
  font-size: 18px;
}

.Featured {
  text-align: center;
}

.TravelCard {
  text-align: center;
  font-size: 15px;
}
