.App {
  text-align: center;
}

body {
  background-color:rgba(16, 170, 170, 0.271);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
}

.Header {
  font-size: 25px;
  text-align: center;
}

.NavBar {
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.Featured {
  text-align: center;
}

.TravelCardImg {
  max-width: fit-content;
  max-height: fit-content;
}

.TravelCard {
  font-size: 15px;
  width: 500px;
  height: 400px;
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  margin-right: 0%;
}

.Future {
  text-align: center;
  display: block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5%;
}

.FuturePhoto {
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
}

.Lis {
  border-radius: 5px;
  border-style: outset;
  border-color: black;
}

.FutureForm {
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 1%;
}

.Want {
  text-align: center;
}

.delete {
  cursor: pointer;
  background-color: rgba(118, 154, 154, 0.271);
  float: right
}

.complete {
  cursor: pointer;
  background-color: rgba(118, 154, 154, 0.271);
}

#filterstate {
  text-align: center;
}